body, h1, h2, p, ul {
    margin: 0;
    padding: 0;
}
body {
    background: linear-gradient(to bottom, #87CEEB, #0074E4);
    /* animation: gradientAnimation 10s linear infinite alternate; */
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
@keyframes gradientAnimation {
    0% {
        background: linear-gradient(to bottom, #ff0000, #ff8000);
    }
    25% {
        background: linear-gradient(to bottom, #ff8000, #00cc00);
    }
    50% {
        background: linear-gradient(to bottom, #00cc00, #0066cc);
    }
    75% {
        background: linear-gradient(to bottom, #0066cc, #ff0099);
    }
    100% {
        background: linear-gradient(to bottom, #ff0099, #ff0000);
    }
}

.quiz-container {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
    padding: 20px;
    width: 25%;
    /* max-width: 400px; */
    text-align: center;
}

h1{
    color: #007bff;
    font-size: 32px;
    margin-bottom: 20px;
}

h2 {
    color: #333;
    font-size: 24px;
    margin-bottom: 10px;
}

button {
    margin: 5px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #007bff;
    color: #fff;
}

#final-score-card {
    display: none;
    /* Additional styling for the final score card */
}
.score-card {
    display: none;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
    padding: 20px;
    width: 20%;
    /* max-width: 400px; */
    text-align: center;
}

.options {
    text-align: left;
}
.options button {
    background-color: #f7f7f7;
    border: 1px solid #ccc;
    border-radius: 5px;
    color: #333;
    cursor: pointer;
    display: block;
    font-size: 16px;
    margin: 10px 0;
    padding: 10px;
    width: 100%;
    transition: background-color 0.3s ease;
}
.options button:hover {
    background-color: #e0e0e0;
}
.timer, .score {
    margin-top: 20px;
    font-size: 18px;
}
.retry-button-container {
    display: flex;
    justify-content: center;
}

#retry-button {
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#retry-button:hover {
    background-color: #0056b3;
}
.name-input-container {
    text-align: center;
    margin: 20px;
}

.name-input {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 100%;
    max-width: 300px; /* Adjust the maximum width as needed */
}

/* Style the start button if desired */
#start-button {
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#start-button:hover {
    background-color: #0056b3;
}





